# essentials
streamlit~=1.25.0
supabase~=1.0.3
numpy
pandas
# ploting (vehicles soc graph)
plotly
# shapely
shapely
# geospatial
streamlit-folium
folium
# env
python-dotenv~=1.0.0
# data
requests
zeep
# timezone
pytz
# optimization 
matlab
pyyaml
gurobipy
#consumption model
pickle
pgbm
scikit-learn